* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
    background-color: #d46382;
}
html{
    scroll-behavior: smooth;
}
/* -----------------------------------------------homePage------------------------------------------------------------- */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}
@media (min-width: 768px){
    .container{
        width:750px;
    }
}
@media (min-width: 992px){
    .container{
        width:970px;
    }
}
@media (min-width: 1200px){
    .container{
        width:1170px;
    }
}
/*//////////////////////////////*/
.header{
    padding: 20px;
    background-color: #ddd;
    
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width:100px;
}
.sign-btn{
    background-color: #d46382;
    width: 150px;
    height: 50px;
    border:#d46382 solid 1px;
    border-radius: 10px;
    color: #ddd;
    font-weight: bold;
}
.sign-btn:hover{
    background-color: white;
    width: 150px;
    height: 50px;
    border:#d46382 solid 1px;
    border-radius: 10px;
    color: #d46382;
    font-weight: bold;
}
.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width:100%;
} 

.header .links .icon{
    width:30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child{
    height: 3px;
    width: 100%;
}
.header .links .icon span:nth-child(2){
    height: 3px;
    width: 60%;
    transition: 0.3s;
}
.header .links .icon span:last-child{
    height: 3px;
    width: 100%;

}
.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top:calc(100% +15px);
    display: none;
    z-index: 1;
}
.header .links:hover ul{
    display: block;
}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top:-20px;
}
.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
.landing{
    background-image: url(../img/h.jpg);
    background-size:cover;
    height:150vh;
    position: relative;
}
.landing .intro-text{
    position: absolute;
    left: 25%;
    top: 50%;
    right:0;
    transform: translate(-50%,-50%);
    color:#d46382;
    width: 320px;
    max-width: 100%;
    
}
.landing .intro-text h1{
    margin:0;
    font-weight: 800;
    font-size: 70px;
    text-align: center;

}
.landing .intro-text p{
font-size: 19px;
line-height: 1.8;
width :100%;
font-weight: 800;
text-align: center;

}
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i{
    color:#d46382;
    font-size: 50px;
}
.features .feat h3{
    font-weight: 800;
}
.features .feat p{
    color :#777;
    font-size: 17px;
    line-height: 1.8;
}
.special-heading{
    color:#ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
.services{
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-content .srv .text h3{
    color: #ddd;
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
    text-align: center;
}
.services .services-content .srv i{
    color:#ddd;
}


.services .services-content .srv .text p{
    font-weight: 300;
    color:#ddd;
    line-height: 1.6;
}
.services .services-content .srv .image{
    text-align: center;
    position: relative;
}
.services .services-content .srv .image img{
    width: 660px;
    height: 500px   ;
}
.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;    
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 60px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card img{
    max-width: 100%;
    width: 700px;
    height: 400px;
}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #ddd;
    font-weight: 800;
    font-size: 40px;
    color:#d46382;
    
}
.sign{
    padding-bottom: 60px;
    padding-top: 60px;
}
.sign .container {
    padding-top: 60px;
    width: 580px;
    border-radius: 25px;
    background-color: #f3f3f3;
    border: 5px solid #d46382;
    box-shadow: 0, 0, 2000px black;
}
.sign-content {
    padding-top: 60px;
    padding-bottom: 60px;
   text-align: center;
}

.sign-content input {
   margin-bottom: 50px;
   width: 500px;
   height: 50px;
   border: none;
   font-size: 15px;
   color: #333;
   border-radius: 10px;
   padding: 10px;
   text-align: center;
   border-bottom: 2px solid black;
}

.sign-content button {
   width: 500px;
   height: 50px;
   border: 2px solid #d46382;
   border-radius: 10px;
   padding: 10px;
   text-align: center;
   background-color: #d46382;
   font-weight: 800;
   color: white;
   font-size: 20px;
}

.sign-content button:hover {
    color:#d46382;
   background-color: white;
}

.sign-content input:hover {
   box-shadow: 2px 2px 5px #555;
   background-color: #ddd;
}
.sales{
    padding-top: 60px;
    padding-bottom: 60px;
}
.product{
    min-height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ddd;
    border-radius: 20px;
    border: 10px solid #d46382;
    text-align: center;
    padding:50px;
}
.product h3{
    font-weight: bold;
    font-size: 100px;
    color: #d46382;
}
.product p{
    line-height: 2em;
    font-size: 20px;
    color: black;
}
.product img{
    border-radius: 10px;
    width:600px;
    height: 600px;
}
.sales .container .edit-btn , .del-btn{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#ddd;
    font-weight: 800;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;

}
.sales .container .edit-btn{
    background-color: #d46382;
    border:5px solid #d46382;
}
.sales .container .del-btn{
    background-color: red;
    border:5px solid red;
}
.sales .container .edit-btn:hover{
    background-color: #ddd;
    color:#d46382;

}
.sales .container .del-btn:hover{
    background-color: #ddd;
    color:red;
}
.action{
    padding-top: 60px;
    text-align: center;
}
.action button{
    width:100%;
    height: 100px;
   border: 10px solid #d46382;
   border-radius: 20px;
   padding: 10px;

   background-color: #d46382;
   font-weight: 800;
   color: white;
   font-size: 20px;
}
.action button:hover{
    color:#d46382;
    background-color: white;
    border: 10px solid #d46382;
}
.form{
    padding-bottom: 5px;
    padding-top: 5px;
}
.form .container {
    padding-top: 60px;
    width: 580px;
    border-radius: 25px;
    background-color: #f3f3f3;
    border: 5px solid #d46382;
    box-shadow: 0, 0, 2000px black;
}
.form-new {
    padding-top: 60px;
    padding-bottom: 60px;
   text-align: center;
}

.form-new input {
   margin-bottom: 50px;
   width: 500px;
   height: 50px;
   border: none;
   font-size: 15px;
   color: #333;
   border-radius: 10px;
   padding: 10px;
   text-align: center;
   border-bottom: 2px solid black;
}

.form-new button {
   width: 500px;
   height: 50px;
   border: 2px solid #d46382;
   border-radius: 10px;
   padding: 10px;
   text-align: center;
   background-color: #d46382;
   font-weight: 800;
   color: white;
   font-size: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
}
.form-new img{
    width: 300px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.form-new button:hover {
    color:#d46382;
   background-color: white;
}

.form-new input:hover {
   box-shadow: 2px 2px 5px #555;
   background-color: #ddd;
}
.form .container .form-new .special-heading{
    color:#d46382;
    margin-bottom: 20px;
}
/* ------------------------------------------------------------------------------------------------------------------- */
